vendor/
.idea/
coverage
composer.lock
Credenciais.md
*.cache
.env
src/Aplicacao/Compartilhado/Credenciais

src/Infraestrutura/ArmazenamentoDeArquivos
src/Infra/Api/Public/logs.txt

docker/rabbitmq/.erlang.cookie

docker/postgres/mnesia/

docker/rabbitmq/mnesia/
docker/redis/dump.rdb
docker/redis/data

docker/redis/appendonlydir/
node_modules

package-lock.json

temp/
src/Aplicacao/Comandos/Clientes/GerarDocumentoApartirDoModelo/temp
tests/Infraestrutura/Adaptadores/Docx/word_extracted

src/Infraestrutura/Adaptadores/ConsultarInformacoesNaInternet/*.json

src/Infraestrutura/Adaptadores/Processos/*.json
